## Machine Learning Assignment 3

### Predicting No-Shows at Clinics

Chezka Sino (9028-67538)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import collections

#### Loading the data

In [2]:
data = pd.read_csv("data/Clinic-no-show-data.csv")

In [3]:
data.head(10)

,Age,Gender,DayOfTheWeek,Diabetes,Alcoolism,HiperTension,Handcap,Smokes,Scholarship,Tuberculosis,Sms_Reminder,AwaitingTime,Status
0,19,M,Wednesday,0,0,0,0,0,0,0,0,29,Show-Up
1,24,F,Wednesday,0,0,0,0,0,0,0,0,1,Show-Up
2,4,F,Tuesday,0,0,0,0,0,0,0,0,1,Show-Up
3,5,M,Thursday,0,0,0,0,0,0,0,1,15,Show-Up
4,38,M,Tuesday,0,0,0,0,0,0,0,1,6,Show-Up
5,5,F,Tuesday,0,0,0,0,0,0,0,1,35,No-Show
6,46,F,Tuesday,0,0,0,0,0,0,0,1,18,Show-Up
7,4,F,Friday,0,0,0,0,0,1,0,1,14,Show-Up
8,20,F,Tuesday,0,0,0,0,0,0,0,0,14,Show-Up
9,51,F,Tuesday,1,0,1,0,0,0,0,1,4,Show-Up

In [5]:
collections.Counter(data["Status"])

Counter({'Show-Up': 209269, 'No-Show': 90731})

#### Data Preprocessing

Creating the Features and Labels matrices

In [7]:
Features = data
Features = Features.drop(['Status'], 1)
Features.head()

,Age,Gender,DayOfTheWeek,Diabetes,Alcoolism,HiperTension,Handcap,Smokes,Scholarship,Tuberculosis,Sms_Reminder,AwaitingTime
0,19,M,Wednesday,0,0,0,0,0,0,0,0,29
1,24,F,Wednesday,0,0,0,0,0,0,0,0,1
2,4,F,Tuesday,0,0,0,0,0,0,0,0,1
3,5,M,Thursday,0,0,0,0,0,0,0,1,15
4,38,M,Tuesday,0,0,0,0,0,0,0,1,6

In [9]:
Labels = data['Status']
Labels.head()

0    Show-Up
1    Show-Up
2    Show-Up
3    Show-Up
4    Show-Up
Name: Status, dtype: object

Converting the categorical features to binary features

In [10]:
Features = pd.get_dummies(Features)
Features.head()

,Age,Diabetes,Alcoolism,HiperTension,Handcap,Smokes,Scholarship,Tuberculosis,Sms_Reminder,AwaitingTime,Gender_F,Gender_M,DayOfTheWeek_Friday,DayOfTheWeek_Monday,DayOfTheWeek_Saturday,DayOfTheWeek_Sunday,DayOfTheWeek_Thursday,DayOfTheWeek_Tuesday,DayOfTheWeek_Wednesday
0,19,0,0,0,0,0,0,0,0,29,0,1,0,0,0,0,0,0,1
1,24,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1
2,4,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0
3,5,0,0,0,0,0,0,0,1,15,0,1,0,0,0,0,1,0,0
4,38,0,0,0,0,0,0,0,1,6,0,1,0,0,0,0,0,1,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
Features_train, Features_test, Labels_train, Labels_test = train_test_split(Features, Labels, test_size = 0.2)

#### Training a logistic regression model