# Machine Learning Assignment 2

### Predicting Car MPG

Chezka Sino (9028-67538)

In [33]:
import pandas as pd
import matplotlib.pyplot as plt

Loading the data

In [34]:
data = pd.read_csv("auto_mpg_data.csv")

Preview/print the top 10 rows of the data

In [35]:
data.head(10)

,model_name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
4,ford torino,17.0,8,302.0,140,3449,10.5,70,1
5,ford galaxie 500,15.0,8,429.0,198,4341,10.0,70,1
6,chevrolet impala,14.0,8,454.0,220,4354,9.0,70,1
7,plymouth fury iii,14.0,8,440.0,215,4312,8.5,70,1
8,pontiac catalina,14.0,8,455.0,225,4425,10.0,70,1
9,amc ambassador dpl,15.0,8,390.0,190,3850,8.5,70,1

Creating the Features matrix

In [36]:
Features = data
Features = Features.drop(['model_name', 'mpg'], 1)
col_features = Features.columns
Features.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1

Creating the Labels vector

In [37]:
Labels = data['mpg']
Labels.head(10)

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
5    15.0
6    14.0
7    14.0
8    14.0
9    15.0
Name: mpg, dtype: float64

Plotting the relationship between each of the features and the label mpg on a scatter chart.

Normalizing the features using the StandardScaler

In [38]:
from sklearn.preprocessing import StandardScaler as ss
scaler = ss()

In [39]:
scaler.fit(Features)

/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [40]:
Features = scaler.transform(Features)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

In [42]:
Features = pd.DataFrame(Features, columns=col_features)
Features.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,1.483947,1.077290,0.664133,0.620540,-1.285258,-1.625315,-0.716641
1,1.483947,1.488732,1.574594,0.843334,-1.466724,-1.625315,-0.716641
2,1.483947,1.182542,1.184397,0.540382,-1.648189,-1.625315,-0.716641
3,1.483947,1.048584,1.184397,0.536845,-1.285258,-1.625315,-0.716641
4,1.483947,1.029447,0.924265,0.555706,-1.829655,-1.625315,-0.716641

Splitting the data into training and test data using the cross_validation

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
Features_train, Features_test, Labels_train, Labels_test = train_test_split(Features, Labels, test_size = 0.2)

In [47]:
Labels_test.head()

229    15.5
38     14.0
299    34.2
191    24.0
129    32.0
Name: mpg, dtype: float64

Training a regression model on the training subset with 500 iterations.
* Training one feature at a time

In [53]:
from sklearn import linear_model as lm

In [79]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [90]:
def train_set(feat_tr, feat_te, lab_tr, lab_te):
    SGD_LR = lm.SGDRegressor(n_iter=500)
    for col in feat_tr.columns:
        print("Training with feature:", col)
        SGD_LR.fit(feat_tr[col].values.reshape(-1,1), lab_tr)
        Predictions = SGD_LR.predict(feat_te[col].values.reshape(-1,1))
        print("R2 Score:", "{0:.4f}".format(r2_score(Predictions, lab_te)))
        print("MSE:", "{0:.4f}".format(mean_squared_error(Predictions, lab_te)))
        print("MAE:", "{0:.4f}".format(mean_absolute_error(Predictions, lab_te)))
        print()
    return

In [91]:
train_set(Features_train, Features_test, Labels_train, Labels_test)

Training with feature: cylinders
R2 Score: 0.1055
MSE: 28.9076
MAE: 3.9733

Training with feature: displacement
R2 Score: 0.3336
MSE: 25.5892
MAE: 3.8410

Training with feature: horsepower
R2 Score: 0.3112
MSE: 25.8742
MAE: 4.0904

Training with feature: weight
R2 Score: 0.3603
MSE: 24.6210
MAE: 3.6794

Training with feature: acceleration
R2 Score: -3.4399
MSE: 52.3713
MAE: 5.9860

Training with feature: model_year
R2 Score: -1.3137
MSE: 44.2031
MAE: 5.2593

Training with feature: origin
R2 Score: -1.5449
MSE: 46.7985
MAE: 5.3372

* Training a model with all the features

In [ ]:
## TODO (maybe create a function for regularization type)
## create loop to train over each feature
## apply model to test subset
## compute r2_score, mse, mae