# Machine Learning Assignment 2

### Predicting Car MPG

Chezka Sino (9028-67538)

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

Loading the data

In [10]:
data = pd.read_csv("auto_mpg_data.csv")

Preview/print the top 10 rows of the data

In [3]:
data.head(10)

,model_name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130,3504,12.0,70,1
1,buick skylark 320,15.0,8,350.0,165,3693,11.5,70,1
2,plymouth satellite,18.0,8,318.0,150,3436,11.0,70,1
3,amc rebel sst,16.0,8,304.0,150,3433,12.0,70,1
4,ford torino,17.0,8,302.0,140,3449,10.5,70,1
5,ford galaxie 500,15.0,8,429.0,198,4341,10.0,70,1
6,chevrolet impala,14.0,8,454.0,220,4354,9.0,70,1
7,plymouth fury iii,14.0,8,440.0,215,4312,8.5,70,1
8,pontiac catalina,14.0,8,455.0,225,4425,10.0,70,1
9,amc ambassador dpl,15.0,8,390.0,190,3850,8.5,70,1

Creating the Features matrix

In [13]:
Features = data
Features = Features.drop(['model_name', 'mpg'], 1)
Features.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130,3504,12.0,70,1
1,8,350.0,165,3693,11.5,70,1
2,8,318.0,150,3436,11.0,70,1
3,8,304.0,150,3433,12.0,70,1
4,8,302.0,140,3449,10.5,70,1

Creating the Labels vector

In [14]:
Labels = data['mpg']
Labels.head(10)

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
5    15.0
6    14.0
7    14.0
8    14.0
9    15.0
Name: mpg, dtype: float64

Plotting the relationship between each of the features and the label mpg on a scatter chart.

Normalizing the features using the StandardScaler

Splitting the data into training and test data using the cross_validation

Training a regression model on the training subset with 500 iterations.
* Training one feature at a time

In [16]:
## TODO (maybe create a function for no regularization type)
## create loop to train over each feature
## apply model to test subset
## compute r2_score, mse, mae

* Training a model with all the features

In [ ]:
## TODO (maybe create a function for regularization type)
## create loop to train over each feature
## apply model to test subset
## compute r2_score, mse, mae